body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin: 0;
}

header {
    background-color: #f80032;
    padding-top: 2px;
    padding-bottom: 1px;
    box-shadow: 0px 5px 10px gray;
}

.logo {
    text-align: center; 
    color: white;
}

.logo span {
    position: relative; 
    border-top: 4px solid white; 
    border-bottom: 4px solid white; 
    padding: 0 10px; 
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    background-color: #f80032;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 4px 10px grey;
    margin: 10px;
    flex: 1 1 200px;
    padding: 10px;
}

h3 {
    margin: 5px 0;
}

input {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100px;
}

div {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    article {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    article {
        flex-basis: calc(100% - 20px);
    }
}
